@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

@media screen and (max-width:576px) {
    .grid .descr .title_d{
        height: auto;
        /* width: 100%; */
        margin: 0;
        font-size: 1em;
    }
}


@media screen and (max-width:576px) {
#pricing {
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.5em;
    } 
}
@media screen and (max-width:576px) {
    #features .icon-img {
        width: auto;
    } 
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}
body {
    background-color:#eee;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    background-color:#eee;

}

/*---Header---*/
#header {
    width:100%;
    padding: 0 1em;
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#eee;
    max-width: 1200px;
}

#header-img {
    width:3em;
    height:3em;
    align-items: center;
    margin-left: 2em;
}
.nav-bar > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-link {
    text-decoration: none;
    color: rgb(13, 13, 13);
    font-weight: 700;
}
@media screen and (max-width:576px) {
    .nav-link {
        font-size: 0.8em;
        /* display: block;
        flex-direction: column; */
    }
}
li {
    list-style: none;
    padding: 1em;

}
/*---Header-top-----*/
#title-top {
    display: block;
    flex-direction: column;
    justify-content: center;
    height: 10em;
}

#title-top input[type="email"] {
    width: 100%;
    max-width: 20em;
    padding: 0.3em;
    display: block;
    text-align: center;
    margin: 1em auto;
}

#title-top [type="submit"]{
    height: 2em;
    font-size: 1em;
    font-weight: 700;
    border-radius: 0.1em;
    width: 100%;
    max-width: 9.5em;
    text-transform: uppercase;
    background-color: #f1c40f;
    cursor: pointer;
    border: none;
    display: block;
    text-align: center;
    margin: 0 auto;
}
#title-top [type='submit']:hover {
    background-color: orange;
    transition: background-color 1s;
}
.title-top {
    font-size: 2em;
    text-align: center;
    color: rgb(57, 57, 57);
    margin-top: 3em;
    margin-bottom:1em; 
    display: block;
}
/*---Section features---*/

.icon-img {
    width: 4em;
    margin: 2em;
}

#features {
    display: flex;
    margin-top: 2em;
    justify-content: center;
    flex-direction: column;
}
#features .descr {
    height: auto;
    width: 80vw;
    padding: 0.5em;

}
.grid {
    display: flex;
}
.descr{
  width: 100%;
  margin: 0.2em;

}
.title_d {
    font-size: 2em;
    color: rgb(57, 57, 57); 
    margin: 0.5em;
}


/*---how-it-works--*/
#how-it-works {
    display: flex;
    justify-content: center;
}
/*------Section pricing----*/
#pricing {
    margin: 3em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pricing-offer {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    border: 0.01em solid black;
    border-radius: 0.2em;
    width: calc(100% / 3);
    text-align: center;
    align-items: center;
}   
@media screen and (max-width:576px) {
    #pricing-offer{
        display: block;
        width: 100%;
    }
}
.pricing-box {
    background-color: rgb(183, 177, 177);
    color:black;
    font-size: 1.2em;
    width: 100%;
    padding: 1em 0;

}
#pricing-offer > button {
    background-color: #f1c40f;
    margin: 1em 0;
    border: 0;
    font-weight: 600;
}
.dollars {
    font-size: 2em;
    font-weight: 400;
    margin: 0.5em;
}
.btn {
    padding: 0 1em;
    height: 2.5em;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 0.1em;
    cursor: pointer;
    color: #000;
}
.btn:hover {
    background-color: orange;
    transition: background-color 1s;
}

/*---Footer---*/
#footer {
    margin-top: 2em;
    width:100%;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(183, 177, 177);
}
#footer > ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
.copy {
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    color: #444;
    margin-right: 0.8em;
    padding-bottom: 0.8em;
}
